body {
    background: #333;
    font-family: "Open Sans";
    color: white;
    padding: 100px 50px;
}

h1 {
    margin-bottom: 50px;
}

textarea.form-control {
    background-color: #444;
    color: white;
    border-color: black;
    margin-bottom: 30px;
    font-size: 13px;
}

textarea.form-control:focus {
    background-color: #464646;
    outline: none;
    color: white;
    border-color: black;
    box-shadow: 0 0 0 0.30rem rgb(45 45 45 / 25%);
}

.row canvas {
    width: auto;
}